<template>
  <div :class="['chat-wrapper', folded ? 'folded' : '']">
    <h3 @click="toggle()">Chat</h3>

    <div class="tabs">
      <div :class="['tab', active === 'all' ? 'active' : '']" @click="setTab('all'); groupUnseen = 0">
        Group Chat

        <div class="unseen" v-if="groupUnseen > 0">{{groupUnseen}}</div>
      </div>
      <div :class="['tab', active === 'userlist' ? 'active' : '']" @click="setTab('userlist'); userUnseen = 0; userChat = null">
        Users
        <div class="unseen" v-if="userUnseen > 0">{{userUnseen}}</div>
      </div>

      <div v-if="active === 'userchat'" class="tab active">
        {{userChat.name}}
      </div>
    </div>

    <component ref="component"
              v-if="isConnected"
              :is="active"
              :connection="connection"
              :connections="connections"
              :userChat="userChat"
              :chat="groupChat"></component>
    <p class="connecting" v-else>Connecting to chat servers...</p>
  </div>
</template>

<script>

import GroupChat from './GroupChat'
import UserList from './UserList'
import UserChat from './UserChat'

import Connection from '../../modules/connection'

export default {
  name: 'chat-wrapper',
  components: {
    'all': GroupChat,
    'userlist': UserList,
    'userchat': UserChat
  },
  data() {
    return {
      connection: null,
      isConnected: false,
      groupUnseen: 0,
      userUnseen: 0,
      active: localStorage.getItem('activeTab') || 'all',
      loading: true,
      folded: false,
      userChat: null,
      connections: [],
      chats: [],
      groupChat: []
    }
  },
  methods: {
    setTab(tab) {
      this.active = tab;
      localStorage.setItem('activeTab', tab);

      this.userChat = null;
    },
    toggle() {
      this.folded = !this.folded;

      if (!this.folded) this.unseen = 0;
    },
    connect() {
      const token = this.$store.getters.getToken;
      this.loading = true;

      this.connection = new Connection(token, this);

      this.connection.on('group_message', this.onGroupMessage)
      this.connection.on('user_message', this.onUserMessage)
      this.connection.on('user_connected', this.onUserConnected)
      this.connection.on('user_disconnected', this.onUserDisconnected)
    },
    onUserDisconnected(e) {
      this.connections = e.connections;
      this.setSystemNotification(e.message);
    },
    onUserConnected(e) {
      this.isConnected = true;

      this.connections = e.connections
      this.setSystemNotification(e.message);
    },
    onGroupMessage(e) {
      if (this.active !== 'all' || this.folded) {
        this.notifications.notify(`Group chat: ${e.user}: ${e.msg}`, 3000);
        this.groupUnseen++;
      }

      const message = {
        msg: e.user + ': ' + e.msg,
        type: 'message'
      }

      this.groupChat.push(message);
    },
    onUserMessage(e) {
      if (!this.userChat || this.userChat.id !== e.from.id) {
        this.connections.forEach(connection => {
          if (connection.user.id === e.from.id) connection.unseen = true;
        })

        this.notifications.notify(`${e.from.name}: ${e.message}`, 3000);
        this.userUnseen++;
      }

      if (!this.chats[e.from.id]) this.chats[e.from.id] = [];
      this.chats[e.from.id].push({
        message: e.message,
        yours: false
      });

      if (this.active === 'userchat') this.$refs.component.updateChat();
    },
    setUserChat(user) {
      const index = this.connections.map(connection => connection.user.id).indexOf(user.id);

      if (index === -1) return;

      this.connections[index].unseen = false;

      this.userChat = user;
      this.active = 'userchat';
    },
    disconnect() {
      this.connection.disconnect();
      this.connection = null;
    },
    setSystemNotification(notification) {

      const message = {
        msg: notification,
        type: 'notification'
      }

      this.notifications.notify(message.msg, 3000, 'grey');

      if (this.$refs.component) this.$refs.component.onSystemNotification(message);
    },
  },
  beforeDestroy() {
    this.disconnect();
  },
  created() {
    this.connect();
  }
}
</script>

<style scoped>

.connecting {
  color: rgb(66, 66, 66);
  width: 100%;
  text-align: center;
}

.status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 0 0 5px;
}

.online {
  background-color: rgb(52, 158, 3);
}

.offline {
  background-color: rgb(172, 2, 2);
}

.unseen {
  background-color: rgb(214, 129, 0);
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.tabs {
  height: 40px;
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background-color: rgb(177, 177, 177);
}

.tab {
  display: flex;
  align-content: center;
  align-items: center;

  padding: 0 10px;

  cursor: pointer;

  transition: 200ms;
}

.tab.active {
  background-color: rgb(201 201 201);

  transition: 200ms;
}

.tab:hover {

  background-color: rgb(150, 150, 150);

  transition: 200ms;
}

.tab.active {
  background-color: rgb(209, 209, 209);
}

.tab.end {
  justify-self: end;
}

h3 {
  padding: 15px 0;
  cursor: pointer;
  text-align: center;
}

.folded {
  transform: translate(0, 550px);
  transition: 200ms;
}

.unseen {
  border-radius: 50%;

  height: 23px!important;
  width: 23px!important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;

  background-color: rgb(214, 129, 0);
  color: white;

  cursor: default;
}

.chat-wrapper {
  color: rgb(43, 43, 43);
  position: fixed;
  width: 400px;
  height: 600px;
  right: 10px;
  bottom: 0;

  z-index: 10;

  background-color: rgba(196, 196, 196, 0.815);

  -webkit-box-shadow: 0px 0px 2px 2px #6b6b6b;
  box-shadow: 0px 0px 15px 2px #6d6d6d;

  animation: chatIn 200ms 1;

  transition: 200ms;
}

@media (max-width: 600px) {
  .chat-wrapper {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;

    background-color: rgba(196, 196, 196, 1);
  }
}

@keyframes chatIn {
  0% {
    transform: translate(0, 100%);
  }

  100% {
    transform: translate(0, 0);
  }
}

</style>
