<template>
  <div :class="['chat']" id="chat">

    <div class="connected">

      <div class="box">
        <div v-for="(line, key) in filterlines" :key="key"
            class="line"
            ref="lines">
          <span :class="line.type">{{line.msg}}</span>
        </div>
      </div>

      <div class="options">
        <input type="text" v-model="input" placeholder="message.." autofocus>
        <button @click="send">send</button>
      </div>
    </div>
  </div>
</template>

<script>

import Connection from '../../modules/connection';

export default {
  name: 'Chat',
  props: {
    connection: {
      type: Connection,
      required: true
    },
    chat: Array
  },
  data() {
    return {
      input: '',
    }
  },
  methods: {
    send() {
      if (this.input == '') return;
      this.connection.emit('group_message', this.input);
      this.input = '';

    },
    onSystemNotification(e) { }
  },
  computed: {
    filterlines: function() {
      let v = this;
      return this.chat
    }
  },
  created() {
  }
}
</script>

<style scoped>

.chat, .connected {
  height: 450px;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.box {
  height: 100%;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.line {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgb(121, 121, 121);
  text-align: left;
  padding: 10px 20px;
  word-break: break-all;
}

.line > .notification {
  color: #757575;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

</style>
