<template>
  <div class="friend-chat">
    <div class="box">
      <div :class="['line', line.yours ? 'yours' : '']" v-for="(line, key) in chat" :key="key">
        {{getLine(line)}}
      </div>
    </div>
    <div class="options">
      <input type="text" v-model="message">
      <button @click="sendMessage">Send</button>
    </div>
  </div>
</template>

<script>

import Connection from '../../modules/connection'

export default {
  props: {
    userChat: Object,
    connection: Connection
  },
  data() {
    return {
      message: '',
      user: this.$store.getters.getUser,
      chat: []
    }
  },
  methods: {
    updateChat() {
      const chats = this.$parent.chats;

      this.chat = chats[this.userChat.id]
    },
    sendMessage() {
      this.connection.emit('user_message', {
        from: this.user,
        to: this.userChat,
        message: this.message
      })

      if (!this.$parent.chats[this.userChat.id]) this.$parent.chats[this.userChat.id] = [];
      this.$parent.chats[this.userChat.id].push({
        message: this.message,
        yours: true
      })

      this.message = '';

      this.updateChat();
    },
    getLine(line) {
      return `${line.yours ? 'You' : this.userChat.name}: ${line.message}`;
    },
    onSystemNotification(e) { }
  },
  created() {
    if (!this.userChat) this.$parent.active = 'userlist'

    this.updateChat();
  }
}
</script>

<style scoped>

.options {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

.box {
  height: 100%;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.line {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid rgb(121, 121, 121);
  text-align: left;
  padding: 10px 20px;
  word-break: break-all;
}

.friend-chat {
  position: relative;
  height: 500px;
}


/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

</style>
