<template>
  <div class="users">
    <div v-if="userList.length > 0" class="rows">
      <div class="row" v-for="user in userList" :key="user.user.id" @click="select(user.user)">
        <div class="status online"></div>
        <div class="column">{{user.user.name}}</div>
        <div v-if="user.unseen" class="column unseen"></div>
      </div>
    </div>
    <div v-else>
      <p class="align-center">No users online</p>
    </div>
    <div v-if="loading">
      Loading ..
    </div>
  </div>
</template>

<script>
export default {
  props: {
    connections: Array,
    userUnseen: Array
  },
  data() {
    return {
      user: this.$store.getters.getUser,
      users: [],
      loading: false
    }
  },
  methods: {
    select(user) {
      this.$parent.setUserChat(user);
    },
    onSystemNotification(e) { }
  },
  computed: {
    userList: function() {
      return this.connections.filter(user => user.user.id !== this.user.id)
    }
  }
}
</script>

<style scoped>

.align-center {
  text-align: center;
}

.status {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

.online {
  background-color: rgb(52, 158, 3);
}

.offline {
  background-color: rgb(172, 2, 2);
}

.unseen {
  background-color: rgb(214, 129, 0);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 0 0 0 10px;
}

.row {
  display: flex;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  border-bottom: 1px solid black;

  transition: 200ms;

  cursor: pointer;
}

.row:hover {
  background-color: #a3a3a3;

  transition: 200ms;
}

</style>
