<template>
  <div :class="['button', type]" @click="click">
    <span class="before"><slot/></span>
    <div v-if="type == 'primary'" :style="'width:'+width+';height:'+height">
      <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg">

          <ellipse :class="type" ry="24" rx="24" id="svg_6" cy="25" cx="25" stroke-width="1.5" fill="none"/>
          <ellipse :class="type" ry="15" rx="16" id="svg_9" cy="25" cx="25" stroke-opacity="null" stroke-width="8" fill="none"/>
          <ellipse :class="type" ry="6" rx="7" id="svg_13" cy="25" cx="25" stroke-opacity="null" :fill="type"/>
        </svg>
    </div>
    <div v-else-if="type == 'cancel'" :style="'width:'+width+';height:'+height">
      <svg width="50" height="50" xmlns="http://www.w3.org/2000/svg">
      <g>
        <title>Layer 1</title>
        <ellipse :class="type" ry="24.18803" rx="24.31624" id="svg_6" cy="25.05155" cx="24.91453" stroke-width="1.5" fill="none"/>
        <ellipse :class="type" ry="17.31915" rx="17.87234" id="svg_21" cy="25.17021" cx="25.53507" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" transform="rotate(-11.233282089233398 21.0737171173096,15.26173305511474) " stroke-linecap="null" stroke-linejoin="null" id="svg_22" y2="21.52935" x2="26.0341" y1="8.99412" x1="16.11333" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" stroke-linecap="null" stroke-linejoin="null" id="svg_24" y2="20.55069" x2="23.8849" y1="10.64397" x1="33.24002" fill-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" transform="rotate(-4.094372272491455 35.557556152343885,27.85605430603023) " stroke-linecap="null" stroke-linejoin="null" id="svg_25" y2="23.8514" x2="31.47917" y1="31.86071" x1="39.63594" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" transform="rotate(-96.1380615234375 35.605712890625,22.454477310180664) " stroke-linecap="null" stroke-linejoin="null" id="svg_26" y2="17.71867" x2="31.25653" y1="27.19029" x1="39.95489" fill-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" transform="rotate(-4.195781707763672 15.211795806884613,30.097841262817354) " stroke-linecap="null" stroke-linejoin="null" id="svg_27" y2="34.81807" x2="10.11621" y1="25.37761" x1="20.30739" fill-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" stroke-linecap="null" stroke-linejoin="null" id="svg_28" y2="18.81344" x2="10.54971" y1="27.93374" x1="20.31477" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" stroke-linecap="null" stroke-linejoin="null" id="svg_29" y2="31.16347" x2="24.58461" y1="39.87301" x1="34.5224" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" transform="rotate(-2.1786181926727295 22.965858459472766,36.259128570556676) " stroke-linecap="null" stroke-linejoin="null" id="svg_30" y2="31.66459" x2="27.92727" y1="40.85367" x1="18.00445" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" stroke-linecap="null" stroke-linejoin="null" id="svg_31" y2="20.90064" x2="9.32717" y1="10.68787" x1="18.77398" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" transform="rotate(-4.094372272491455 35.47040176391606,14.304105758666994) " stroke-linecap="null" stroke-linejoin="null" id="svg_32" y2="10.15236" x2="31.26458" y1="18.45585" x1="39.67622" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" transform="rotate(-4.094372272491455 16.317493438720902,37.22283172607424) " stroke-linecap="null" stroke-linejoin="null" id="svg_33" y2="33.07108" x2="12.11167" y1="41.37458" x1="20.52331" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" fill="none"/>
        <line :class="type" stroke-linecap="null" stroke-linejoin="null" id="svg_34" y2="40.81314" x2="31.89986" y1="30.60037" x1="41.34667" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" fill="none"/>
        <ellipse ry="2.06522" rx="3.87681" id="svg_35" cy="12.75023" cx="24.85507" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" :class="type" fill="none"/>
        <ellipse :class="type" ry="4.36077" rx="1.94219" id="svg_43" cy="25.88945" cx="12.19582" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" fill="none"/>
        <ellipse ry="5.14493" rx="1.92029" id="svg_44" cy="24.09081" cx="39.34782" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" :class="type" fill="none"/>
        <ellipse ry="0.36232" rx="4.81884" id="svg_45" cy="38.52313" cx="26.83074" fill-opacity="null" stroke-opacity="null" stroke-width="4.5" :class="type" fill="none"/>
      </g>
      </svg>
    </div>
  </div>
</template>

<script>
export default {
  name: 'x-button',
  props: {
    type: String,
    width: {
      type: String,
      default: '50px'
    },
    height: {
      type: String,
      default: '50px'
    }
  },
  methods: {
    click() {
      this.$emit('click');
    },
    getColor() {
    }
  }
}
</script>

<style scoped>

.before {
  display: flex;
  align-items: center;
  padding: 0 10px 0 0;
}

.button {
  display: flex;

  cursor: pointer;
  transition: 200ms;
}

.button.primary {
  fill: #0083d0;
  stroke: #0083d0;
}

.button.primary:hover {
  fill: #3faeee;
  stroke: #3faeee;

  transition: 200ms;
}

.button.primary:active {
  fill: #006ead;
  stroke: #006ead;

  transition: 100ms;
}

.button.cancel {
  fill: rrgb(199, 41, 41);
  stroke:rgb(199, 41, 41);
}

.button.cancel:hover {
  fill: rgb(238, 99, 99);
  stroke:rgb(238, 99, 99);

  transition: 200ms;
}

.button.cancel:active {
  fill: rgb(160, 1, 1);
  stroke:rgb(160, 1, 1);

  transition: 100ms;
}

</style>
