<template>
  <div class="dashboard">
    <Navbar :user="user" />
    <ChatWrapper v-if="!validating" />
    <router-view class="padding dashboard" v-if="!validating"></router-view>
    <div v-else class="loading">
      <h2>{{loadscreenText}}</h2>
    </div>
  </div>
</template>

<script>

import ChatWrapper from './Chat/ChatWrapper';
import Navbar from './Navbar'

export default {
  name: 'Login',
  components: {
    ChatWrapper,
    Navbar
  },
  data () {
    return {
      user: this.$store.getters.getUser,
      validating: true,
      loadscreenText: 'Loading...'
    }
  },
  methods: {
    checkLogin() {
      let v = this;
      const token = v.$store.getters.getToken;

      this.axios.get(this.config.backendEndpoint + '/users/get_own', {
        headers: {
          Authorization: token
        }
      })
        .then(response => {

          this.loadscreenText = 'Loading...'

          if (!response.data.user) {
            v.$store.commit('logout');
            v.$router.push('/login')
          } else {
            v.$store.commit('updateUser', response.data.user)
            v.axios.defaults.headers.common['Authorization'] = token
            v.validating = false;
          }
        })
        .catch(err => {
            v.$store.commit('logout');
            v.$router.push('/login')
        })

      setTimeout(() => {
        this.loadscreenText = 'Starting servers...'
      }, 2000);

    },
    logout() {
      this.$store.commit('logout');
      this.axios.defaults.headers.common['Authorization'] = '';
      this.$router.push('/login')
    }
  },
  created() {
    this.checkLogin();
  }
}
</script>

<style scoped>

.padding {
  padding: 50px 50px 0 50px;
}

.dashboard {
  animation: fadeIn 200ms 1;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;

  background-color: rgb(231, 231, 231);
}

.panel {
  width: 300px
}

</style>
