<template>
  <div class="home">
    <div class="panel">
      <div class="body">
        <h1>Welcome {{user.name}}</h1>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      user: this.$store.getters.getUser
    }
  }
}
</script>

<style scoped>

.home {
  display: flex;
  justify-content: center;
}

</style>
