<template>
  <div class="login" id="login">

    <div ref="loading" class="panel hidden">
      <span>Logging in...</span>
    </div>

    <div ref="panel" class="panel">
      <div class="head flex justify-center">
        <h2>Login</h2>
      </div>

      <div class="body">
        <div class="field flex justify-center">
          <input type="text" v-model="email" placeholder="email" autofocus>
        </div>

        <div class="field flex justify-center">
          <input type="password" v-model="password" placeholder="password">
        </div>
      </div>

      <div class="foot">
        <div class="flex justify-center">

          <x-button type="primary" @click="login"></x-button>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      email: localStorage.getItem('email') || '',
      password: localStorage.getItem('password') || '',
    }
  },
  methods: {
    login() {
      let v = this;
      this.transitions.load(this)

      this.axios.post(this.config.backendEndpoint + '/authentication/login', { email: v.email, password: v.password })
        .then(response => {

          v.transitions.endLoad(v);

          if (response.data.status) {
            v.notifications.notify('succesfully logged in', 2000, 'success');

            localStorage.setItem('email', v.email);
            localStorage.setItem('password', v.password);

            v.$store.commit('login', {
              token: response.data.token,
              user: response.data.user
            })

            v.$router.push('/');

          } else {
            this.notifications.notify('incorrect login information', 2000, 'error');
          }
        })
        .catch(err => {
          v.transitions.endLoad(v);
          v.notifications.notify('could not reach server', 2000, 'error');
        })

    }
  },
  mounted() {
      let v = this;

      document.getElementById('login').addEventListener('keydown', (e) => {
        if (e.key !== 'Enter') return;
        v.login();
      })
    }
}
</script>

<style scoped>

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 75%;
}

span {
  text-align: center;
  font-weight: 700;
}

</style>
