<template>
  <div :class="['navbar', opened ? 'opened' : 'closed']">

    <div v-for="option in filteredOptions" :key="option.to" @click="to(option)" :class="['option', { active: active(option) }]">
      <i :class="['icon', option.icon]"></i>
      <span>{{option.label}}</span>
    </div>

    <div @click="logout()" class="logout">
      <i :class="['icon', 'fas fa-sign-out-alt']"></i>
      <span>Logout</span>
    </div>

    <div class="toggle" @click="opened = !opened">
      <i :class="['fas fa-arrow-up arrow', opened ? 'up' : 'down']"></i>
      <span>Menu</span>
    </div>

  </div>
</template>

<script>
export default {
  props: {
    user: Object
  },
  data() {
    return {
      opened: false,
      options: [
        {
          label: 'Home',
          to: '/',
          active: ['Home'],
          icon: 'fas fa-home',
          admin: false,
        },
        {
          label: 'Register',
          to: '/register',
          active: ['Register'],
          icon: 'fas fa-users-cog',
          admin: true
        },
        {
          label: 'Users',
          to: '/users',
          active: ['Users', 'User'],
          icon: 'fas fa-users',
          admin: true
        },
        {
          label: 'Usage',
          to: '/usage',
          active: ['Usage'],
          icon: 'fas fa-car',
          admin: false,
          ids: [1, 19]
        },
      ]
    }
  },
  methods: {
    to(option) {
      if (this.active(option)) return;

      this.$router.push(option.to)
    },
    active(option) {
      return option.active.includes(this.$route.name);
    },
    logout() {
      let v = this;

      this.popup.open({
        title: 'Log off',
        text: 'Are you sure you want to log off?'
      }, () => {
        v.$parent.logout()
      }, () => {
      })
    }
  },
  computed: {
    filteredOptions: function() {
      const admin = this.user.role == 'admin'

      return this.options.filter(option => {
        if (option.ids && !option.ids.includes(this.user.id)) return false
        if (option.admin && !admin) return false;

        return true;
      })
    }
  },
}
</script>

<style scoped>

.icon {
  border-radius: 50%;
  padding: 5px 5px 4px 5px;
  width: 20px;
  height: 20px;
  color: white;
  background-color: black;
}

span {
  margin-left: 10px;
}


.navbar {
  width: 150px;
  position: absolute;
  left: 100px;
  display: flex;
  flex-direction: column;

  z-index: 30;
}

.option {
  background-color: rgba(255, 255, 255, 0.712);
  margin: 2px 0;
  padding: 10px;
  cursor: pointer;

  display: flex;
  align-items: center;

  transition: 200ms;
}

.option:hover {
  background-color: rgb(212, 212, 212);

  transition: 200ms;
}

.option:active {
  background-color: rgb(153, 153, 153);

  transition: 200ms;
}

.active {
  background-color: #eaae04;
}

.active:hover {
  background-color: #f7c334;
}

.active:active {
  background-color: #9e7400;
}

.active > .icon {

  color: #eaae04;
  background-color:white;
}

.active:active > .icon {

  color: #9e7400;
  background-color:white;
}

.toggle {
  height: 30px;
  padding: 5px 0 0 10px;

  cursor: pointer;
}

.toggle > .arrow {
  font-size: 20px;
}

.toggle > span {
  font-weight: 800;
  letter-spacing: 2px;
}

.opened {
  transform: translate(0, 0);

  transition: 200ms;
}

.closed {
  transform: translate(0, calc( -100% + 35px ));

  transition: 200ms;
}

.up {
  transform: rotate(0deg);

  transition: 200ms;
}

.down {
  transform: rotate(180deg);

  transition: 200ms;
}

.logout {
  padding: 10px 10px;
  cursor: pointer;
}

.logout > .icon {
  padding: 7px 2px 3px 8px;
  background-color: rgb(212, 25, 25);

  transition: 200ms;
}

.logout:hover > .icon {
  background-color: rgb(136, 0, 0);

  transition: 200ms;
}


@media (max-width: 600px) {
  .navbar {
    left: 0;
  }
}

</style>
