<template>
  <div>
    <div v-if="active" :class="['notification', type]" :style="'animation-duration:' + (duration) + 'ms'">
      {{message}}
    </div>
  </div>
</template>

<script>
export default {
  name: 'Notifications',
  data() {
    return {
      active: false,
      message: '',
      type: 'default',
      duration: 2,
      timer: null
    }
  },
  methods: {
    notify(settings) {

      if (this.active) return;

      this.message = settings.message;
      this.type = settings.type;
      this.duration = settings.duration;

      this.active = true;

      let v = this;

      this.timer = setTimeout(() => {
        v.active = false;
      }, settings.duration);
    }
  },
  created() {
    this.notifications.set(this);
  }
}
</script>

<style scoped>

.notification {
  position: fixed;
  top: 10px;
  right: 0;
  padding: 10px 30px;
  font-size: 16px;
  line-height: 16px;
  animation: notification 2s 1;

  transform: translate(100%, 0);
}

.notification.default {
  background-color: rgb(223, 255, 253);
  border: 1px solid rgb(0,198,226);
  color: black;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.notification.success {
  background-color: rgb(211, 255, 202);
  border: 1px solid rgb(19, 226, 0);
  color: rgb(0, 0, 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.notification.error {
  background-color: rgb(255, 214, 214);
  border: 1px solid rgb(209, 0, 0);
  color: rgb(0, 0, 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.notification.grey {
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(134, 134, 134);
  color: rgb(0, 0, 0);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

@keyframes notification {
  0% {
    transform: translate(100%, 0);
  }
  10% {
    transform: translate(0,0);
  }
  90% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(100%,0);
  }
}

</style>
