<template>
  <div class="back" ref="back" v-if="opened">
    <div class="panel popup">

      <div class="head">
        <h2>{{title}}</h2>
      </div>
      <div class="body">

        <p>{{text}}</p>


        <div v-for="(input, key) in inputs" :key="key">
          <div v-if="input.type === 'text'">
            <input type="text" v-model="input.value" :placeholder="input.placeholder">
          </div>
        </div>

      </div>

      <div class="foot">

        <div class="flex space-evenly">

          <x-button type="primary" @click="onClickSucces"></x-button>
          <x-button type="cancel" @click="onClickCancel"></x-button>

        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      opened: false,
      title: '',
      text: '',
      inputs: [],
      onSucces: null,
      onCancel: null
    }
  },
  methods: {
    open(info, onSucces, onCancel) {
      const { title, text, inputs } = info;

      this.title = title;
      this.text = text;
      this.inputs = inputs || []

      this.onSucces = onSucces;
      this.onCancel = onCancel;

      this.opened = true;

    },
    onClickSucces() {
      this.onSucces(this.getInputValues());

      this.close();
    },
    onClickCancel() {
      this.onCancel(this.getInputValues());

      this.close();
    },
    getInputValues() {
      let values = [];
      this.inputs.forEach(input => {
        values[input.name] = input.value;
      })
      return values;
    },
    close() {
      setTimeout(() => {
        this.opened = false;
      }, 100);

      this.$refs.back.classList += ' close';
    }
  },
  created() {
    this.popup.set(this);
  }
}
</script>

<style scoped>

input {
  width: 260px;
}

.back {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.219);
  z-index: 90;

  animation: fadeIn 100ms 1;
}

.close {
  animation: fadeOut 100ms 1;
}

.popup {
  z-index: 95;
  width: 300px;
}

</style>
