<template>
  <div class="register">

    <div class="hidden" ref="loading">
      <div class="body">
        Loading...
      </div>
    </div>

    <div class="panel" ref="panel">

      <div class="head">
        <h2>Register user</h2>
      </div>

      <div class="body">
        <div class="field">
          <input type="text" placeholder="e-mail" v-model="email">
        </div>

        <div class="field">
          <input type="text" placeholder="password" v-model="password">
        </div>

        <div class="field">
          <input type="text" placeholder="name" v-model="name">
        </div>
      </div>

      <div class="foot">
        <div class="field flex justify-center">
          <button @click="clickRegister">Register</button>
        </div>
      </div>

    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      email: '',
      password: '',
      name: '',
      user: this.$store.getters.getUser,
      loading: false
    }
  },
  methods: {
    clickRegister() {

      let v = this;

      this.popup.open({
        title: 'Register new account',
        text: 'Are you sure you want to create this new account?'
      }, () => {
        v.register();
      }, () => {
      })
    },
    register() {
      let v = this;

      v.transitions.load(this);

      this.axios.post(this.config.backendEndpoint + '/authentication/register', { email: v.email, password: v.password, name: v.name })
        .then(response => {

          v.transitions.endLoad(v);

          if (response.data.status !== true) {
            this.notifications.notify('could not create account', 2000, 'error');
          } else {
            v.notifications.notify('succesfully created account', 2000, 'success');

            v.email = '';
            v.password = '';
            v.name = '';
          }
        })
        .catch(err => {
            v.transitions.endLoad(v);
            this.notifications.notify('could not reach server', 2000, 'error');
        })
    }
  },
  created() {
    if (this.user.role !== 'admin') this.$router.push('/');
  }
}
</script>

<style scoped>

.register {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.panel {
  width: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input {
  width: 75%
}

</style>
