<template>
  <div class="usage">
    <div v-if="records.length > 0">

      <div class="top">
        <div class="panel">
            <h2>Auto gebruik</h2>
        </div>
      </div>

      <div class="add">
        <div class="panel" ref="panel">

          <div class="head">
            <h2>Add record</h2>
          </div>

          <div class="body">
            <div class="field">
              <input type="date" placeholder="date" v-model="date">
            </div>

            <div class="field">
              <input type="number" placeholder="distance (KM)" v-model="distance">
            </div>
          </div>

          <div class="foot">
            <div class="field flex justify-center">
              <button @click="add">Add</button>
            </div>
          </div>

        </div>

        <div class="panel" ref="panel">

          <div class="head">
            <h2>Add payment</h2>
          </div>

          <div class="body">
            <div class="field">
              <input type="date" placeholder="date" v-model="paymentDate">
            </div>

            <div class="field">
              <input type="number" placeholder="Amount (€)" v-model="paymentAmount">
            </div>
          </div>

          <div class="foot">
            <div class="field flex justify-center">
              <button @click="addPaid">Add</button>
            </div>
          </div>

        </div>
      </div>

      <div class="statistics">
        <div class="panel">
          <div class="heading">
            <h2>Info</h2>
          </div>
          <div class="body">
            <ul>
              <li>Open (€): <span class="field" :style="openPrice <= 0 ? 'color:green' : 'color:red'">{{formatOpenPrice}}</span></li>
              <li>Average per month (€): <span class="field">{{formatAveragePerMonth}}</span></li>
            </ul>
            <hr>
            <ul>
              <li>Average price gas per KM: <span class="field">{{GAS_PRICE_PER_KM}}</span></li>
              <li>Price Arval per KM: <span class="field">{{ARVAL_PRICE_PER_KM}}</span></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="records">

        <div class="panel table-panel" ref="panel">

          <div class="head">
            <h2>Records</h2>
          </div>

          <div class="body">

            <table>
              <thead>
                <th>Date</th>
                <th>Distance (KM)</th>
                <th>Delete</th>
              </thead>
              <tbody>
                <tr v-for="record in filteredRecords" :key="record.id">
                  <td>{{record.date}}</td>
                  <td>{{record.distance}}</td>
                  <td><button class="remove" @click="remove(record.id)">X</button></td>
                </tr>
                <tr v-if="!showAll" class="pointer" @click="showAll = true">
                  <td>Alles tonen</td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

        <div class="panel table-panel" ref="panel">

          <div class="head">
            <h2>Payments</h2>
          </div>

          <div class="body">

            <table>
              <thead>
                <th>Date</th>
                <th>Amount (&euro;)</th>
                <th>Delete</th>
              </thead>
              <tbody>
                <tr v-for="paid_ in paid" :key="paid_.id">
                  <td>{{paid_.date}}</td>
                  <td>{{paid_.amount}}</td>
                  <td><button class="remove" @click="removePaid(paid_.id)">X</button></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
    <div class="flex justify-center" v-else>
      <span>{{loadscreenText}}</span>
    </div>
  </div>
</template>

<script>

const weekday = new Array(7);
weekday[0] = "Sunday";
weekday[1] = "Monday";
weekday[2] = "Tuesday";
weekday[3] = "Wednesday";
weekday[4] = "Thursday";
weekday[5] = "Friday";
weekday[6] = "Saturday";

export default {
  name: 'Usage',
  data() {
    return {
      user: this.$store.getters.getUser,
      date: 0,
      distance: null,
      addNew: false,
      records: [],
      paid: [],
      amount: 0,
      paymentAmount: null,
      paymentDate: 0,
      showAll: false,
      averagePerMonth: 0,
      openPrice: 0,
      ARVAL_PRICE_PER_KM: 0,
      GAS_PRICE_PER_KM: 0,
      loadscreenText: 'Fetching records...'
    }
  },
  methods: {
    removePaid(id) {
        this.popup.open({
          title: 'Delete paid record',
          text: 'Are you sure you want to delete this payment?'
        }, () => {
          this.axios.post(this.config.usageService + '/delete_paid',{
            id
          })
          .then(response => {
            this.notifications.notify('Succesfully deleted paid record', 2000, 'success')
            this.getPaid();
            this.get();
          })
          .catch(err => {
            this.notifications.notify('Something went wrong', 2000, 'error')
          })
        }, () => {
        })
    },
    addPaid() {

      this.axios.post(this.config.usageService + '/add_paid',{
          amount: this.paymentAmount,
          date: new Date(this.paymentDate).getTime()
        })
        .then(response => {
          this.notifications.notify('Succesfully added paid record', 2000, 'success')
          this.getPaid();
          this.get();

          this.paymentDate = 0;
          this.paymentAmount = null;
        })
        .catch(err => {
          this.notifications.notify('Something went wrong', 2000, 'error')
        })
    },
    getPaid() {

      this.axios.get(this.config.usageService + '/get_paid')
        .then(result => {
          this.paid = result.data.paid
            .map(record => {
              record.date = new Date(record.date);
              return record;
            })
            .sort((a, b) => b.date - a.date)
            .map(record => {
              record.date = `${record.date.toLocaleDateString('nl-NL')} (${weekday[record.date.getDay()]})`
              return record;
            })
        })
        .catch(err => {
          console.log(err);
        })
    },
    remove(id) {
      this.popup.open({
          title: 'Delete record',
          text: 'Are you sure you want to delete this record?'
        }, () => {
          this.axios.post(this.config.usageService + '/delete',{
            id
          })
          .then(response => {
            this.notifications.notify('Succesfully deleted record', 2000, 'success')
            this.get();
          })
          .catch(err => {
            this.notifications.notify('Something went wrong', 2000, 'error')
          })
        }, () => {
        })
    },
    add() {

      this.axios.post(this.config.usageService + '/add',{
          distance: this.distance,
          date: new Date(this.date).getTime()
        })
        .then(response => {
          this.notifications.notify('Succesfully added record', 2000, 'success')
          this.get();

          this.date = 0;
          this.distance = null;
        })
        .catch(err => {
          this.notifications.notify('Something went wrong', 2000, 'error')
        })
    },
    get() {

      this.axios.get(this.config.usageService + '/get')
        .then(result => {
          this.averagePerMonth = result.data.averagePerMonth;
          this.openPrice = result.data.openPrice;
          this.ARVAL_PRICE_PER_KM = result.data.ARVAL_PRICE_PER_KM;
          this.GAS_PRICE_PER_KM = result.data.GAS_PRICE_PER_KM

          this.records = result.data.records
            .map(record => {
              record.date = new Date(record.date);
              return record;
            })
            .sort((a, b) => b.date - a.date)
            .map(record => {
              record.date = `${record.date.toLocaleDateString('nl-NL')} (${weekday[record.date.getDay()]})`
              return record;
            })


          this.loadscreenText = 'Fetching records...';
        })
        .catch(err => {
          this.loadscreenText = 'Something went wrong, try logging in again.'
        })

      setTimeout(() => {
        this.loadscreenText = 'Starting server...'
      }, 2000);
    }
  },
  computed: {
    filteredRecords: function() {
      return this.records.filter((record, key) => {
        return this.showAll || (key < 6)
      })
    },
    formatAveragePerMonth: function() {
      return new Intl.NumberFormat('nl-NL', { style: 'currency', currency: 'EUR' }).format(this.averagePerMonth)
    },
    formatOpenPrice: function() {
      return new Intl.NumberFormat('nl-NL', { style: 'currency', currency: 'EUR' }).format(this.openPrice)
    }
  },
  created() {
    this.get();
    this.getPaid();
  }
}
</script>

<style scoped>

.statistics {
  display: flex;
  justify-content: center;
}

.statistics > .panel {
  width: 600px;
  padding: 10px;
  margin: 0 0 50px 0;
}

.panel > .heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
}

.usage {
  margin: 0 0 50px 0;
}

.remove {
  background-color: rgb(207, 34, 34);
  color: white
}

.head {
  display: flex;
  justify-content: space-between;
}

.table-panel {
  width: 600px;
  align-self: flex-start;

  margin: 0 10px;
}

table {
  width: 100%
}

th {
  width: 50%
}

.cancel {
  background-color: transparent!important;
  margin-right: 10px;
}

.top, .add {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 100%;

  margin: 0 0 50px 0;
}

.records {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

</style>
