<template>
  <div class="users">
    <div ref="loading" class="hidden">
      Loading...
    </div>
    <div ref="panel" class="panel">
      <div class="head">
        <h2>Users</h2>
      </div>
      <div class="body">
        <table>
          <thead>
            <th>E-mail</th>
            <th>Name</th>
          </thead>
          <tbody>
            <tr v-for="user in users" :key="user.id" @click="select(user.id)">
              <td>{{user.email}}</td>
              <td>{{user.name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      users: [],
      user: this.$store.getters.getUser,
    }
  },
  methods: {
    select(id) {
      this.$router.push('/users/' + id)
    },
    getAll() {
      let v = this;
      this.transitions.load(this);

      this.axios.get(this.config.backendEndpoint + '/users/get')
        .then(response => {

          v.transitions.endLoad(v);
          v.users = response.data;
        })
    }
  },
  created() {
    if (this.user.role !== 'admin') {
      this.$router.push('/');
      return;
    }

    this.getAll();
  }
}
</script>

<style scoped>

.users {
  display: flex;
  justify-content: center;
}

.panel {
  width: 600px;
}

table {
  width: 100%
}

th {
  width: 50%
}

tr {
  cursor: pointer;
}

</style>
