<template>
  <div class="user">
    <div class="panel">
      <div class="body">
        <h2>User info</h2>
        <ul>
          <li>ID: {{getUser.id}}</li>
          <li>Name: {{getUser.name}}</li>
          <li>E-mail: {{getUser.email}}</li>
          <li>Rol: {{getUser.role}}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      getUser: {},
      user: this.$store.getters.getUser,
    }
  },
  methods: {
    get() {
      let v = this;
      let id = this.$route.params.id;

      this.transitions.load(this);

      this.axios.get(this.config.backendEndpoint + '/users/get/' + id)
        .then(response => {

          v.transitions.endLoad(v);
          if (!response.data || !response.data.user) this.$router.push('/users')
          else this.getUser = response.data.user
        })
        .catch(err => this.$router.push('/users'))
    }
  },
  created() {
    if (this.user.role !== 'admin') {
      this.$router.push('/');
      return;
    }

    this.get();
  }
}
</script>

<style scoped>

.user {
  display: flex;
  justify-content: center;
}

.panel {
  width: 600px;
}

table {
  width: 100%
}

th {
  width: 50%
}

</style>
