<template>
  <div id="app">
    <video autoplay muted loop class="background">
      <source :src="Background" type="video/mp4">
    </video>
    <router-view/>
    <Notifications />
    <Popup />
  </div>
</template>

<script>

import Notifications from './components/Notifications'
import Popup from './components/Popup'
import Background from './assets/videos/background.mp4'

export default {
  components: {
    Notifications,
    Popup
  },
  data() {
    return {
      Background
    }
  },
  name: 'App'
}
</script>

<style>

@font-face {
    font-family: 'sao';
    src: url('assets/fonts/SAOUI-Regular.otf'),
        url('assets/fonts/SAOUI-Bold.otf'),
        url('assets/fonts/SAOUITT-Bold.ttf'),
        url('assets/fonts/SAOUITT-Regular.ttf');
}

html, body, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  color: rgb(56, 56, 56);
}

#app {
  font-family: 'sao';
  letter-spacing: 1px;
  overflow: hidden;
  min-height: 100vh;
}

.background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100
}

.panel {
  -webkit-box-shadow: 0px 0px 2px 2px #6b6b6b;
  box-shadow: 0px 0px 15px 2px #6d6d6d;

  transition: 200ms;
  animation: jumpIn 500ms 1;
}

.panel:hover {
  transition: 200ms;

}

.panel > .head {
  background-color: rgba(196, 196, 196, 0.815);
  padding: 10px 10px 10px 10px;
}

.panel > .body {
  background-color: rgba(189, 189, 189, 0.521);
  padding: 10px;
}

.panel > .foot {
  background-color: rgba(196, 196, 196, 0.815);
  padding: 10px 10px 10px 10px;
}

.end {
  animation: jumpOut 500ms 1;
}

.field {
  margin: 10px 0;
}

.hidden {
  display: none!important;
}

@keyframes jumpIn {
  0% {
    transform: translate(-100vh, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes jumpOut {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100vh, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* Flex */
.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}

button {
  background: rgb(255, 255, 255);
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;

  transition: 200ms;
}

button:hover {
  background: rgb(231, 231, 231);
  transition: 200ms;
}

button:active {
  background: rgb(148, 148, 148);
  color: white;
  transition: 200ms;
}

input[type=text], input[type=password]  {
  background-color: #a3a3a3;
  color: rgb(0, 0, 0);
  padding: 7px 10px;
  border: none;
  border-radius: 10px
}

::placeholder {
  color: rgb(36, 36, 36);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

table {
  border-spacing: 0;
}

th, td {
  text-align: left;
  border-bottom: 1px solid rgb(124, 124, 124);
  padding: 5px 5px 5px 0;
  margin: 0;
}

th {
  font-weight: 900;
  color: rgb(87, 87, 87);
}

thead {

}

tr {
  transition: 200ms;
}

tr:hover {
  transition: 200ms;

  background-color: #a3a3a3;

}

.pointer {
  cursor: pointer;
}

</style>
